<div class="hd logodiv">
    <%- image_tag('img/logo.png',{class: 'logopng'}) %>
    <p class="logot"><%= theme.logo_title %></p>
</div>
<%- partial('_partial/nav') %>
<div class="hd">
  <div style="color: #6d9ee7;" class="titlex">News:</div>
  <ul>
    <li>
      The SDP is attending the 37c3. Our assembly is part of the "critical
      decentralization cluster". You can find us next to the emergency exit in
      the corner of the room. <a style="text-decoration:underline;" href="https://37c3.c3nav.de/l/sdp/@0,135.59,153.08,5" target="_blank">3cnav</a>
    </li>
    <li>
      The thc@37c3 treasure hunt is out and available at
      <a style="text-decoration: underline;" href="https://37c3.dist0rtion.com" target="_blank">37c3.dist0rtion.com</a>
  </li>
  <li>
    To learn more about the game, check <a style="text-decoration:underline;" href="https://37c3.dist0rtion.com/#/about" target="_blank">this page</a>
  </li>
  <li>
    For updates, follow us on social media for updates: <a style="text-decoration: underline;" href="https://github.com/social-dist0rtion-protocol" target="_blank">GitHub</a>, <a href="https://twitter.com/dist0rtionproto" style="text-decoration: underline;" target="_blank">X</a>
  <br />
  <i>(last updated on 2023-12-28)</i>
</ul>
<hr />

</div>
<div class="hd">
    <% var last; %>
    <% page.posts.each(function (post) { %>
        <% var year = post.date.year(); %>
        <% if (last != year){ %>
            <div class="titlex">
                <p><span class="jing">#</span>
                    <%= year %>
                </p>
            </div>
            <% last = year; %>
        <% } %>
        <a class="flink" href="<%- url_for(post.path) %>">
            <div class="list">
                <div class="postname">
                    <%= post.title %>
                </div>
                <div class="posttime">
                    <%- full_date(post.date, 'MMMM Do') %>
                </div>
            </div>
        </a>
    <% }) %>
</div>
